body{
     width: 100%

}
 #score{
    font-size: 35px;
    background-color: cadetblue;
    padding-left: 250px;
    padding-top: 1.5rem;

}

.mute-btn{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

#startBtn{
    position: relative;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 30px;
    font-size: 20px;
    background-color:slategray;
}


 #mute {
    font-size: clamp(15px, 4vw, 15px);
    padding: 5px 0 0 5px;
    position: absolute;
    margin: auto;
}

#mute:active {
    top: 1px;
}

.mute-btn i {
    color: goldenrod;
}

.mute-btn li {
    top: 0;
    position: relative;
    margin: 0;
}

 
 canvas {
    height: 90vh;
    background-image: url(https://images.unsplash.com/photo-1537420327992-d6e192287183?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80);
    background-size: cover;
    background-position: center;
    display: flex;
    color: rgb(106, 151, 138);
    font-size: 2em;
    padding-right: 50px;
    padding-left: 50px;
    margin-left: 35%;
}

div.controls p{
    font-size: 15px;
    color: #fff;
    float: right;
    margin: 40px 10px 0px 10px;
}


div.footer a{
    float: right;
    color: white;
}

@media only screen and (max-width: 600px) {
  body{
      
      display:block;
  }

  #score{
      padding-left:10px;
  }
  div.controls p{
      padding:0;
      margin-top:10px;
  }
  .mute-btn{
      position:absolute;
  }
  canvas{
      padding-left:0;
      padding-right:0;
      margin:0;
      display:block;
      position:center;
  }
}